*{
    margin: 0;
    padding: 0;
}
#icone{
    font-size: 30px;
}
#imagem{
    text-align: left;
    background-color: grey;
}
#perfil{
    text-align: center;
    background-color: white;
    padding: 20px;
}
#title{
    text-align: center;
    font-size: x-small;
}
#geralt{
    text-align: center;
}
#info{
    text-align: center;  
}
#sobre{
    font-size: larger;
    text-align: center;
    text-decoration: overline underline;
}
#text{
    text-align: justify;
    text-decoration: none;
    padding: 20px;
}
#fotos{
    text-align: center;
    font-size: large;
    text-decoration: overline underline;
}
#galeria{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: grey;
}
#box-esquerdo{
    width: 25%;
    height: 200px;
    border: 1px solid black;

}
#box-central{
    width: 25%;
    height: 200px;
    border: 1px solid black;
}
#box-direito{
    width: 25%;
    height: 200px;
    border: 1px solid black;
}
#rod{
    text-align: center;
    background-color: rgb(86, 86, 90);
    padding: 5px;
}
